/* Header */
.header {
    background: #202020;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
/* End Header */

/* Body */
.body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
    z-index: 999; /* Luôn đảm bảo menu nổi lên trên nội dung */
    transition: left 0.3s ease-in-out; /*Tạo độ mượt 0.3s khi trượt ngang */
}

html.sider-is-collapsed .body .sider {
    left: -150px;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
    transition: all 0.3s ease-in-out; 
}

/* Trạng thái khi bấm nút: Main phình to ra lấp chỗ trống */
html.sider-is-collapsed .body .main {
    left: 0;
    width: calc(100% - 30px);
}
/* End Body */

/* Sider */
.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: #ffffff;
    display: block;
    padding: 12px 15px; /* Tăng padding lên một chút để dễ bấm hơn */
    border-bottom: 1px solid #515151;
    text-decoration: none; /* Bỏ gạch chân mặc định của thẻ a */
    transition: all 0.3s ease; /* Thêm chuyển động mượt mà khi đổi màu */
}

.sider .inner-menu ul li a:hover {
    background-color: #343a40; /* Nền xám sáng lên một chút */
    color: #00ff00; /* Đổi màu chữ sang xanh hacker cho ngầu (hoặc màu bạn thích) */
    padding-left: 20px; /* Hiệu ứng chữ thụt lùi nhẹ vào trong cực kỳ nghệ */
}


.sider .inner-menu ul li a.active {
    background-color: #007bff; /* Ví dụ: Nền xanh dương của Bootstrap */
    color: #fff;
    border-left: 4px solid #00ff00; /* Có một cái vạch màu đánh dấu bên trái */
}
/* End Sider */

/* Show Alert */
[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background: #ffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
/* End Show Alert */

/* Image Preview */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src=""] {
    display: none;
}
/* End Image Preview */

